@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

@layer base {
    html {
        font-family: 'Poppins';
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        background-color: #f9f9f9;
    }
}

@layer components {
    .max-container {
        max-width: 1260px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .layout {
        min-height: calc(100vh - 109px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .bg--slider__img {
        position: relative;
    }
    .button {
        width: 189px;
        /* height: 40px; */
        border-style: solid;
        border-width: 2px;
        border-color: #07689f;
        color: #07689f;
    }
    .bg--slider__img::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(180deg, rgba(12, 12, 12, 0.13), rgba(12, 12, 12, 0.76));
    }
    .checkInDate::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
    .checkOutDate::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
}
